<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<div class="flex justify-content-around  flex-wrap">
  <p-selectButton [options]="stateOptions" [(ngModel)]="displayAll" optionLabel="label" optionValue="value">
    <ng-template let-item pTemplate>
      <span class="text-xs">{{item.label}}</span>
  </ng-template>
  </p-selectButton>
</div>

<div *ngIf="!displayAll">
  <p-panel [toggleable]="true">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <span class="font-bold">Historique des requêtes</span>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex flex-wrap align-items-center justify-content-between gap-3">
        <div class="flex align-items-center gap-2">
          <p-button icon="pi pi-history" [rounded]="true" [text]="true" pTooltip="Effacer l'historique des requetes sélectionnées"
            (click)="clearSelectedRequests($event)" severity="warning" [outlined]="true"></p-button>
          <p-button icon="pi pi-trash" severity="secondary" [rounded]="true" [text]="false"
            pTooltip="Effacer la totalité de l'historique des requetes" (click)="clearAllRequests($event)" severity="danger" [outlined]="true"></p-button>
        </div>
        <span class="p-text-secondary">Lu à {{tsRefresh | date:'HH:mm:ss'}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="icons">
      <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
        <span class="pi pi-cog"></span>
      </button>
      <p-menu #menu id="config_menu" [model]="itemsRequest" [popup]="true" />
    </ng-template>
    <div *ngIf="requests">
      <app-table-view [items]="requests" [cols]="cols" [searchItems]="selectedHistory"
        (itemsSelected)="setSelected($event)"></app-table-view>
    </div>
  </p-panel>
</div>

<div *ngIf="displayAll">
  <p-panel [toggleable]="true">
    <ng-template pTemplate="header">
      <div class="flex align-items-center gap-2">
        <span class="font-bold">Stockage local</span>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex flex-wrap align-items-center justify-content-between gap-3">
        <div class="flex align-items-center gap-2">
          <p-button icon="pi pi-key" [rounded]="true" [text]="true" pTooltip="Effacer les clés selectionnées"
            (click)="clearKeySelected($event)" severity="warning" [outlined]="true"></p-button>
          <p-button icon="pi pi-trash" severity="secondary" [rounded]="true" [text]="false"
            pTooltip="Effacer tout le stockage local" (click)="clearAll($event)" severity="danger" [outlined]="true"></p-button>
        </div>
        <span class="p-text-secondary">Lu à {{tsRefresh | date:'HH:mm:ss'}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="icons">
      <button class="p-panel-header-icon p-link mr-2" (click)="menu.toggle($event)">
        <span class="pi pi-cog"></span>
      </button>
      <p-menu #menu id="config_menu" [model]="itemsKeys" [popup]="true" />
    </ng-template>
    <div *ngIf="dataKeys">
      <app-table-view [items]="dataKeys" [cols]="colsKeys" [searchItems]="selectedKeys"
      (itemsSelected)="setSelectedKey($event)"></app-table-view>
    </div>
  </p-panel>
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>