
<div class="grid">
    <div class="col-2">
        <input pInputText id="field" aria-describedby="field-help" [(ngModel)]="fieldContent.field" />
        <!-- <small id="field-help">Nom du champ.</small> -->
    </div>
    <div class="col-4">
        <input pInputText id="des" aria-describedby="des-help" [(ngModel)]="fieldContent.description" />
        <!-- <small id="des-help">Description du contenu du champ.</small> -->
    </div>
    <div class="col-2">
        <p-dropdown id="type" [options]="fieldType" [(ngModel)]="fieldContent.type" optionLabel="name"
            optionValue="code" aria-describedby="type-help"></p-dropdown>
    </div>
    <div *ngIf="fieldContent.type==='enum'" class="col-2">
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="enumValue"></textarea>
        <!-- <small id="enum-help">Une valeur par ligne au format code:name. Return pour une nouvelle ligne</small> -->
    </div>
    <div class="col-1">
        <p-button label="Save" (onClick)="saveData()"></p-button>
    </div>
</div>
