<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

<p-carousel [value]="currentData" [circular]="true" (onPage)="onCityChange($event)" [page]="page">
  <ng-template pTemplate="footer">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <div class="flex flex-wrap align-items-center gap-3">
          <p-button icon="pi pi-chevron-left" [text]="true" (click)="goHome()"></p-button>
          <p-button icon="pi pi-map-marker" pTooltip="Gérer vos villes..." [text]="true"
            (click)="op.toggle($event)"></p-button>
          <div class="text-xs" [pTooltip]="'Données météo mises à jour toutes les '+(timerRefresh/60)+'minutes'">
            <i class="pi pi-stopwatch"></i>&nbsp;{{timerRefresh/60}} mn.
          </div>
        </div>
      </div>
      <div class="p-toolbar-group-center">
        <div class="flex justify-content-between flex-wrap">
          <div class="flex-auto">
            <label for="zoom" class="pr-1">Zoom</label>
            <p-inputNumber type="number" inputId="zoom" placeholder="Zoom de la carte" [(ngModel)]="map_param.zoom"
              [min]="0" [max]="22" [size]="2" [showButtons]="true" decrementButtonClass="p-button-danger"
              incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus">
            </p-inputNumber>
          </div>
          <div class="p-float-label">
            <label for="mapStyle" class="pr-1">Style</label>
            <p-dropdown [options]="map_param.map_styles" [(ngModel)]="map_param.style" optionValue="id"
              optionLabel="name" inputId="mapStyle">
            </p-dropdown>
          </div>
          <p-button (click)="updateMaps()" icon="pi pi-map" pTooltip="Mise à jour de la carte"></p-button>
        </div>
      </div>
      <!-- <div class="p-toolbar-group-end">
                                            <p-button #btn icon="pi pi-ellipsis-v" (click)="menu.toggle($event)"></p-button>
                                          </div> -->
    </p-toolbar>
  </ng-template>
  <ng-template let-city pTemplate="item" let-id="rowIndex">
    <div *ngIf="city.checkData">
      {{city.city}}-Actualisé à {{city.data.refreshAt | date:'longTime'}}
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
          <p-card styleClass="p-card-shadow">
            <ng-template pTemplate="content">
              <div class="p-0">
                <div class="text-4xl">{{city.data.name}} {{city.data.sys.country}}</div>
                <div class="text-3xl mb-1 text-muted">{{city.data.weather[0].main}}-{{city.data.weather[0].description}}
                </div>
                <div class="text-xl mb-2 text-muted">{{city.data.dt*1000 | date:'fullDate'}} à {{city.data.dt*1000 |
                  date:'fullTime'}}</div>
                <hr>
                <div class="text-3xl">Températures</div>
                <div class="text-xl">{{ city.data.main.temp}}°C, ressenti {{ city.data.main.feels_like}}°C</div>
                <div class="text-xl">{{ city.data.main.temp_min}}°C min, {{ city.data.main.temp_max}}°C max</div>
                <hr>
                <div class="text-xl">Pression : {{city.data.main.pressure}}</div>
                <div class="text-xl">Humidité : {{city.data.main.humidity}}% </div>
                <div class="text-xl">Vent : {{city.data.wind.speed}} km/h, orienté à {{city.data.wind.deg}}° </div>
                <div class="text-xl">Visibilité {{city.data.visibility}} mètres</div>
                <div class="text-xl" *ngIf="city.data.clouds">Couverture nuageuse à {{city.data.clouds.all}}% </div>
                <hr>
                <p class="text-base">Le soleil de lève à {{city.data.sys.sunrise*1000 | date:'longTime'}} et se couche à
                  {{city.data.sys.sunset*1000 | date:'longTime'}}</p>
              </div>
            </ng-template>
          </p-card>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <p-card styleClass="p-card-shadow">
            <img [src]="city.data.mapUrl" class="card-img-top" width="100%" alt="Location map">
            <ng-template pTemplate="content">
              <div class="p-0">
                <div class="text-base">Coordonnées : {{city.data.coord.lat}} / {{city.data.coord.lon}}</div>
                <div class="text-base">Décalage horaire : GMT {{city.data.timezone/3600}}</div>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

<p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>

<!--     <p-autoComplete [(ngModel)]="city" [suggestions]="cityResults" (completeMethod)="search($event)"
      (showEmptyMessage)="'true'" emptyMessage="Aucune ville trouvée" (showClear)="'true'">
    </p-autoComplete>
-->

<p-overlayPanel #op>
  <ng-template pTemplate>
    <div class="p-inputgroup">
      <span class="p-input-icon-left p-mb-2 p-mb-md-0">
        <i class="pi pi-search"></i>
        <input type="search" pInputText class="w-12" placeholder="Ajouter une Ville..." [(ngModel)]="cityAdd">
      </span>
      <button type="button" pButton icon="pi pi-plus" (click)="addCity()" title="Refresh"></button>
      <button type="button" pButton icon="pi pi-trash" (click)="delCities()" title="Delete"></button>
    </div>
    <p-orderList [value]="cityList" [dragdrop]="true" (onSelectionChange)="cityListSelected($event)"
      (onReorder)="cityListReorded($event)" [(selection)]="citySelected">
      <ng-template let-city pTemplate="item">{{city}}</ng-template>
    </p-orderList>
    <div>{{citySelected.length}} villes sélectionnées</div>
  </ng-template>
</p-overlayPanel>