<p-toolbar *ngIf="displayMenu" class="authPanel" styleClass="bg-blue-900 shadow-2"
    [style]="{ 'border-radius': '0.5rem', 'background-image': 'linear-gradient(to right, var(--blueblue-500), var(--blueblue-800))' }">
    <ng-template pTemplate="start">
       <!--  <img (click)="menuApp.toggle($event)" src="assets/labo64.png" height="30" /> -->
        <img title="logo" (click)="sidebarVisible=true" src="assets/labo64.png" height="30" />
    </ng-template>
    <ng-template pTemplate="center">
        <div class="flex flex-wrap align-items-center gap-3">
            <button title="home" (click)="goHome()"
                class="p-link inline-flex justify-content-center align-items-center text-white h-1rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"><i
                    class="pi pi-home text-xl"></i></button>
            <!-- <button title="menu" (click)="menuAuth.toggle($event)"
                class="p-link inline-flex justify-content-center align-items-center text-white h-1rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                <i *ngIf="isUserLoggedIn" class="pi pi-user" style="font-size: 1.4rem;color: green"></i>
                <i *ngIf="!isUserLoggedIn" class="pi pi-user" style="font-size: 1.4rem;color: red"></i>
            </button> -->
            <button title="file" (click)="cf.toggle($event)"
                class="p-link inline-flex justify-content-center align-items-center text-white h-1rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"><i
                    class="pi pi-file text-xl"></i>
            </button>
            <button title="folder" (click)="goFiles()"
                class="p-link inline-flex justify-content-center align-items-center text-white h-1rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"><i
                    class="pi pi-folder text-xl"></i>
            </button>
            
        </div>
    </ng-template>
    <ng-template pTemplate="end">
        <div  class="flex align-items-center gap-2">
            <p-avatar *ngIf="initials" [label]="initials" styleClass="mr-2" shape="circle" [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"  (click)="menuAuth.toggle($event)"></p-avatar>
            <p-avatar *ngIf="!initials" icon="pi pi-user" styleClass="mr-2" shape="circle" [style]="{ 'background-color': 'red', color: '#ffffff' }"  (click)="menuAuth.toggle($event)"></p-avatar>
            <!-- <span *ngIf="userInfo.userName" class="hidden md:block font-bold text-white text-xs">{{userInfo?.userName}}</span> -->
        </div>
    </ng-template>
</p-toolbar>

<p-sidebar [(visible)]="sidebarVisible">
    <ng-template pTemplate="header">Sma Experiences</ng-template>
    <ng-template pTemplate="content">
        <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
    </ng-template>
    <ng-template pTemplate="footer">Version {{appVer}}</ng-template>
    
    <!-- <p-tieredMenu #menuApp [model]="items" [popup]="false"></p-tieredMenu> -->
</p-sidebar>

<p-tieredMenu #menuAuth [model]="authItems" [popup]="true"></p-tieredMenu>

<p-overlayPanel #cf>
    <div *ngIf="currentFile" class="text-xs">
        <p>{{currentFile.name}}</p>
        <p *ngIf="currentFile.wb">{{currentFile.wb.Props?.ModifiedDate}}</p>
        <p *ngIf="currentFile.wb">{{currentFile.wb.Props?.LastAuthor}}</p>
        <div *ngIf="currentFile.wb" class="card flex align-items-center gap-2 flex-wrap">
            <p-chip *ngFor="let item of currentFile.wb.SheetNames"
                [icon]="item==currentFile.wsName ? 'pi pi-check' : ''" [label]="item"></p-chip>
        </div>
        <div *ngIf="currentFile.wb" class="card flex align-items-center gap-2 flex-wrap">
            <p-chip *ngFor="let item of currentFile.wb.Workbook?.Names">{{item.Name}}</p-chip>
        </div>
    </div>
</p-overlayPanel>
<p-overlayPanel #acc>
    <div *ngIf="userInfo" class="text-xs">
        <h5>Votre compte</h5>
        <div>#{{userInfo.id}} {{userInfo.userName}}</div>
        <div>Prochaine connexion : {{userInfo.expireAt}}</div>
        <div class="text" (click)="logout()">
            <i class="pi pi-info-circle" style="color: red"></i>&nbsp;Déconnexion
        </div>
    </div>
    <div *ngIf="!userInfo" class="text-xs">
        <div class="text" (click)="logIn()">
            <i class="pi pi-info-circle" style="color: red"></i>&nbsp;Connexion
        </div>
    </div>
</p-overlayPanel>