:host ::ng-deep .p-card .p-card-body {
    padding: 0.25rem;
}

:host ::ng-deep .p-panel .p-panel-content {
    padding: 0;
    border: 0px;
    color: #495057;
    border-top: 0 none;
}

:host ::ng-deep .preferencesPanel {
    height: 95vh;
}
:host ::ng-deep .authPanel {
    position: fixed;
    bottom: 0px;
    left:0px;
    margin: 0px;
    width: 100%;
}
:host ::ng-deep .p-toolbar{
    padding: 0.45rem;
}