<p-table #dt [value]="tableItems" dataKey="id" [tableStyle]="{ 'min-width': '80rem' }" styleClass="p-datatable-striped"
    responsiveLayout="stack" [breakpoint]="'960px'" [scrollable]="true" scrollHeight="600px" [resizableColumns]="true"
    [globalFilterFields]="colsFilter" [paginator]="true" [rows]="10" [totalRecords]="count">
    <ng-template pTemplate="caption">
        <div class="flex space-between flex-wrap">
            <div class="p-input-icon-left p-ml-auto">
                <i class="pi pi-filter-slash" (click)="clear(dt)"></i>
                <input pInputText name="search" ngDefaultControl type="search" (input)="filterData($event)"
                    placeholder="Chercher..." class="p-inputtext-sm max-w-10rem" />
            </div>

            <span class="spacer"></span>
            <span class="flex align-items-center justify-content-center">
                <i class="pi pi-list"></i>&nbsp;{{count}}&nbsp;
                <i class="pi pi-search"></i>&nbsp;{{countFilter}}
            </span>
            <span class="spacer"></span>
            <p-button *ngIf="tableItems" [rounded]="false" [text]="true" icon="pi pi-plus" label="Col"
                (click)="newCol.toggle($event)"></p-button>
            <p-button [rounded]="false" [text]="true" (click)="saveData()" icon="pi pi-save"></p-button>
            <p-button [rounded]="false" [text]="true" (click)="op.toggle($event)" icon="pi pi-ellipsis-v"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="delCol"></th>
            <th pResizableColumn pReorderableColumn class="max-w-20rem" *ngFor="let field of cols"
                [pSortableColumn]="field">
                <p-columnFilter *ngIf="filter" type="text" [field]="field" display="menu"></p-columnFilter>
                <p-sortIcon *ngIf="sort" [field]="field"></p-sortIcon>
                <i class="pi pi-trash" *ngIf="delCol" (click)="deleteCol(field)"></i>
                {{field}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tblItem let-rowIndex="rowIndex" let-editing="editing">
        <tr>
            <td *ngIf="delCol"><i class="pi pi-trash" (click)="deleteRow(rowIndex)"></i></td>
            <td *ngFor="let field of cols" [pEditableColumn]="tblItem[field]" [pEditableColumnField]="field"
                class="max-w-20rem">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <span *ngIf="getModel(field)">
                            <span [ngSwitch]="getModel(field).type">
                                <div *ngSwitchCase="'enum'">
                                    <div class="flex flex-column gap-1">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"
                                                (click)="getModelEnum(tblItem,field);rv.toggle($event)"></i>
                                            <!-- <p-dropdown [options]="getModelEnum(field)" [(ngModel)]="tblItem[field]"
                                                                                                                                                                                                                                                                                            optionLabel="label"></p-dropdown> -->
                                        </span>
                                        <small class="wrap">{{getModel(field).description}}</small>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'text_long'"></div>
                                <div *ngSwitchDefault>
                                    <div class="flex flex-column gap-1">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"
                                                (click)="distinctRecords(tblItem,field);uv.toggle($event)"></i>
                                            <input title="data_input" pInputText [type]="getModel(field).type" class="p-inputtext-lg"
                                                [(ngModel)]="tblItem[field]" aria-describedby="help" />
                                        </span>
                                        <small class="wrap">{{getModel(field).description}}</small>
                                    </div>
                                </div>
                            </span>
                        </span>
                        <span *ngIf="!getModel(field)">
                            <span [ngSwitch]="field">
                                <p *ngSwitchCase="'label'">
                                    <textarea title="textLong" class="w-full" rows="5" cols="30" pInputTextarea
                                        [(ngModel)]="tblItem[field]"></textarea>
                                </p>
                                <span *ngSwitchDefault>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"
                                            (click)="distinctRecords(tblItem,field);uv.toggle($event)"></i>
                                        <input title="data_input" pInputText type="text" class="p-inputtext-lg"
                                            [(ngModel)]="tblItem[field]" />
                                    </span>
                                </span>
                            </span>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <span class="text-overflow-ellipsis wrap">{{ tblItem[field] }}</span>
                        <span class="text-overflow-ellipsis wrap" *ngIf="getModel(field).type==='enum'">-{{
                            getModelValue(field,tblItem[field])}}</span>
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-overlayPanel #op>
    <ng-template pTemplate="content">
        <h4>Options</h4>
        <table>
            <tr>
                <td colspan="2">Activation par colonne</td>
            </tr>
            <tr>
                <td>Filtres</td>
                <td class="text-right"><p-checkbox [(ngModel)]="filter" [binary]="true" inputId="filterId"></p-checkbox>
                </td>
            </tr>
            <tr>
                <td>Tri</td>
                <td class="text-right"><p-checkbox [(ngModel)]="sort" [binary]="true" inputId="sortId"></p-checkbox>
                </td>
            </tr>
            <tr>
                <td>Suppression</td>
                <td class="text-right"><p-checkbox [(ngModel)]="delCol" [binary]="true" inputId="deleteId"></p-checkbox>
                </td>
            </tr>
            <tr>
                <td>Export</td>
                <td class="text-right">
                    <p-button icon="pi pi-save" [rounded]="true" [text]="true" severity="danger"></p-button>
            </tr>
        </table>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #uv [style]="{'width': '450px'}" class="text-sm" [showCloseIcon]="true">
    <ng-template pTemplate="content">
        <p-table [value]="uniqueValues" selectionMode="single" [(selection)]="selectedValue"
            (onRowSelect)="onValueSelect($event, uv)" [paginator]="true" [rows]="5" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr class="text-sm">
                    <th>{{uniqueValues.length}} valeurs</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-item>
                <tr [pSelectableRow]="rowData">
                    <td class="text-sm">{{rowData}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #rv [style]="{'width': '450px'}" class="text-sm" [showCloseIcon]="true">
    <ng-template pTemplate="content">
        <p-table [value]="refValues" selectionMode="single" [(selection)]="selectedValue"
            (onRowSelect)="onRefValueSelect($event, rv)" [paginator]="true" [rows]="5" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr class="text-sm">
                    <th>{{uniqueValues.length}} valeurs</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-item>
                <tr [pSelectableRow]="rowData">
                    <td class="text-sm">{{rowData.label}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #newCol [showCloseIcon]="true">
    <div class="flex flex-column gap-2">
        <label htmlFor="newCol">Nom de la colonne à ajouter</label>
        <input title="data_input" pInputText type="text" [(ngModel)]="newColName" name="newCol" id="newCol"
            (keydown.enter)="addCol(newColName)">
        <small id="username-help">Pas d'espace, ni de caractères spcéciaux (.,:!)</small>
    </div>
    <p-button icon="pi pi-save" label="Valider" (click)="addCol(newColName)"></p-button>
</p-overlayPanel>