.table-header {
  display: flex;
  justify-content: space-between;
}

.table_stats{
  table-layout: fixed;
  width: 100%;
}
:host ::ng-deep .textStyle {
  inline-size: 20vh;
  white-space: nowrap;
  overflow: auto;
  max-width: 90vh;
}