<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<div class="flex flex-column p-0">
    <div class="flex align-items-center justify-content-center m-0">
        <label htmlFor="url">Rest Url</label>
        <p-dropdown [options]="methodList" [(ngModel)]="methodSelected" [showClear]="true"
            placeholder="Select a method"></p-dropdown>
        <div class="p-inputgroup">
            <input title="url" id="url" type="search" pInputText [(ngModel)]="url" class="w-full"
                (keydown.enter)="getData(url)" />
            <button title="start" type="button" pButton icon="pi pi-play" class="p-button-success" (click)="getData(url)"></button>
            <button title="history" type="button" pButton icon="pi pi-history" (click)="historyDisplay()"></button>
        </div>
    </div>
    <div *ngIf="methodSelected==='POST' || methodSelected ==='PUT'"
        class="flex align-items-center justify-content-center m-0">
        Raw data
        <textarea title="body" rows="5" pInputTextarea [(ngModel)]="requestBody" [autoResize]="true"
            class="w-full"></textarea>
        <button type="button" pButton icon="pi pi-pay" class="p-button-success" (click)="getData(url)"></button>
    </div>
</div>
<p-tabView *ngIf="displayRequest" [(activeIndex)]="activeTabRequest">
    <p-tabPanel header="Réponse">
        <div *ngIf="response" class="flex justify-content-between flex-wrap">
            <p>Ok : {{response.ok}}</p>
            <p>Status : {{response.status}}</p>
            <p>Status : text {{response.statusText}}</p>
            <p>Type : {{response.type}}</p>
            <p>Url : {{response.url}}</p>
        </div>
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="Body">
                <ngx-json-viewer [json]="data"></ngx-json-viewer>
            </p-accordionTab>
            <p-accordionTab header="Headers">
                <ngx-json-viewer [json]="headersRequest"></ngx-json-viewer>
            </p-accordionTab>
        </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="Modèle de données">
        <div class="flex flex-column">
            <div class="flex align-items-center justify-content-center m-2">
                <label htmlFor="level">Chemin d'accès aux données</label>
                <div class="p-inputgroup">
                    <input pInputText id="level" aria-describedby="level-help" [(ngModel)]="level"
                        placeholder="sous la forme nom.nom" (keydown.enter)="getDataPath(level)" />
                    <button title="getdatapath" type="button" pButton icon="pi pi-refresh" styleClass="p-button-warn"
                        (click)="getDataPath(level)"></button>
                    <button type="button" pButton>{{rows?.length}}</button>
                </div>
            </div>
            <div class="grid">
                <div class="col-12 card">
                    <app-table-view *ngIf="rows" [items]="rows" [cols]="cols"></app-table-view>
                    <!-- 
                    <p-table #rd [value]="rows" [resizableColumns]="true" columnResizeMode="expand"
                        responsiveLayout="scroll" [scrollable]="true" scrollHeight="60vh"
                        styleClass="p-datatable-striped" [virtualScroll]="false" [virtualScrollItemSize]="30"
                        [filterDelay]="0" [globalFilterFields]="headersData" [resizableColumns]="true"
                        [reorderableColumns]="false">
                        <ng-template pTemplate="caption">
                            <div class="table-header flex justify-content-between">
                                <div class="flex align-items-center justify-content-center">
                                    <button title="clear" [label]="rd.filteredValue ? rd.filteredValue.length+' ' : ''"
                                        pButton class="p-button-outlined" icon="pi pi-filter-slash"
                                        (click)="clear(rd)"></button>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="rd.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Filtrer..." />
                                    </span>
                                </div>
                                <div class="flex align-items-center justify-content-center">
                                    <p-button [rounded]="false" [text]="true" (click)="op.toggle($event)"
                                        icon="pi pi-ellipsis-v"></p-button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pResizableColumn [pSortableColumn]="col"
                                    *ngFor="let col of headersData;let idx=index" style="width: 20%;">
                                    <span class="text-sm overflow-hidden text-overflow-ellipsis p-1"> {{col}}</span>
                                    <span class="text-xs overflow-hidden text-overflow-ellipsis"> ({{ col.type }})</span>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr style="height:30px">
                                <td *ngFor="let col of headersData;let idx=index" class="p-1">
                                    <span class="text-sm overflow-hidden text-overflow-ellipsis">
                                        {{rowData[col]}}
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                     -->
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Historique">
        <p-table #dt2 [value]="history" [(selection)]="selectedHistory" dataKey="ts" responsiveLayout="stack"
            [breakpoint]="'600px'" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-sm"
            [globalFilterFields]="['ts', 'method', 'request', 'status','size']">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Search keyword" />
                    </span>
                    <p-splitButton icon="pi pi-save" [model]="menuRequest" (onClick)="save('info')"
                        styleClass="p-button-raised p-button-danger mr-2 mb-2"></p-splitButton>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns let-index="rowIndex">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="ts" style="min-width: 8rem">
                        <div class="flex justify-content-between align-items-center">
                            Ts
                            <p-sortIcon field="ts"></p-sortIcon>
                            <p-columnFilter type="text" field="ts" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="method" style="min-width: 8rem">
                        <div class="flex justify-content-between align-items-center">
                            Method
                            <p-sortIcon field="method"></p-sortIcon>
                            <p-columnFilter type="text" field="method" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="request" style="min-width: 8rem">
                        <div class="flex justify-content-between align-items-center">
                            Request
                            <p-sortIcon field="request"></p-sortIcon>
                            <p-columnFilter type="text" field="request" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="status" style="min-width: 8rem">
                        <div class="flex justify-content-between align-items-center">
                            Status
                            <p-sortIcon field="status"></p-sortIcon>
                            <p-columnFilter type="text" field="status" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="size" style="min-width: 8rem">
                        <div class="flex justify-content-between align-items-center">
                            Size
                            <p-sortIcon field="size"></p-sortIcon>
                            <p-columnFilter type="text" field="size" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-columns="columns">
                <tr>
                    <td>
                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                    </td>
                    <td><span class="p-column-title">Ts</span>{{ item.ts }}</td>
                    <td (click)="historyRun(item)"><span class="p-column-title">Method</span><b>{{ item.method
                            }}</b>
                    </td>
                    <td><span class="p-column-title">Request</span><span class="text-wrap">{{ item.request
                            }}</span>
                    </td>
                    <td><span class="p-column-title">Status</span>{{ item.status }}</td>
                    <td><span class="p-column-title">Size</span>{{ item.size }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</p-tabView>

<p-overlayPanel #op>
    <ng-template pTemplate="content">
        <h4>Options</h4>
        <table>
            <tr>
                <td colspan="2">
                    <h5>Export des données</h5>
                </td>
            </tr>
            <tr>
                <td>Excel</td>
                <td class="text-right"><p-button icon="pi pi-save" (click)="saveDataToXl()" [rounded]="true"
                        [text]="true" severity="danger"></p-button></td>
            </tr>
            <tr>
                <td>Json</td>
                <td class="text-right"><p-button icon="pi pi-save" (click)="saveDataToJson()" [rounded]="true"
                        [text]="true" severity="danger"></p-button></td>
            </tr>
            <tr>
                <td colspan="2">
                    <h5>Export de la requete</h5>
                </td>
            </tr>
            <tr>
                <td>Json</td>
                <td class="text-right">
                    <p-button icon="pi pi-save" (click)="saveRequestToJson()" [rounded]="true" [text]="true"
                        severity="danger"></p-button>
                </td>
            </tr>
        </table>
    </ng-template>
</p-overlayPanel>