<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <i class="pi pi-exclamation-triangle text-red-900" style="font-size: 2.5rem"></i>
        <div class="text-red-900 font-bold text-5xl m-3">Erreur</div>
        <div class="text-700 text-2xl mb-5">La page demandée est indisponible.</div>
        <a href="/" pButton pRipple title="Continuer" label="Continuer" icon="pi pi-discord"
            class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></a>
    </div>
</div>