@media only screen and (min-width: 200px) and (max-width: 430px)  {
    #map {
        height: 63vh;
        padding: 1px;
    }
}
@media only screen and (min-width: 768px) {
    #map {
        height: 69vh;
        padding: 1px;
    }
}
@media only screen and (min-width: 768px) {
    #map {
        height: 76vh;
        padding: 1px;
    }
}
